[submodule "third_party/qtcsv"]
	path = third_party/qtcsv
	url = https://github.com/iamantony/qtcsv.git
[submodule "third_party/qtsqlx"]
	path = third_party/qtsqlx
	url = https://github.com/simophin/qtsqlx.git
[submodule "third_party/range-v3"]
	path = third_party/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "third_party/Catch2"]
	path = third_party/Catch2
	url = https://github.com/catchorg/Catch2.git
